body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #000, #fff);
    animation: gradient 5s ease-in-out infinite;
}

.navbar {
    background-color: transparent;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar-brand {
    color: white;
    font-size: 1.5rem;
}

@keyframes gradient {
    0% {
        background: linear-gradient(45deg, #000, #fff);
    }
    50% {
        background: linear-gradient(45deg, #fff, #000);
    }
    100% {
        background: linear-gradient(45deg, #000, #fff);
    }
}
